table {width:100%;}

details {
  border: 1px solid #a2dec0;
  border-bottom: none;
  padding: 5px;
  border-radius: 4px;
  width:100%;
}

details[open] summary ~ * {
  animation: open .5s ease-in-out;
}

summary {
  font-size: 22px;
  color: #159957;
  font-weight: bold;
  cursor: pointer;
  margin-bottom:8px;
  text-shadow: 1px 1px 1px rgb(227,243,235);
}

h4 {
  text-shadow: 1px 1px 1px rgb(227,243,235);
  margin-top: 0;
  padding-top: 0;
}

hr {border-top: 1px solid skyblue;
  border-bottom: none;}
  
.embed-container {
  position: relative;
  padding-bottom: 70%;
  overflow: hidden;
  width: 100%; 
  margin-bottom: 7px;
  transition: all 0.5s;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 98%;
}

iframe {
  border: 1px solid skyblue;
  margin: 0 auto;
  display: block;
  border-radius:7px;
}
