td, th {font-size: 14px; color: rgb(21,153,87); padding: 0px; text-align: center;}

footer {
  display: none !important;
}

.atv{font-size:16px; color: crimson; font-weight:bold;}

.btn {
  display: none !important;
}

code{
	font-weight: bold;
}

img{image-rendering:high-quality;}

@keyframes open {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

details[open] summary ~ * {
  animation: open .5s ease-in-out;
}

.sub[open] summary ~ * {
  animation: open .5s ease-in-out;
}

pre code{font-weight: normal;}

code a {
  position: relative;
  display: inline-block;
  text-decoration:none;
  font-size:14px;
  color:#00aae4;
}

code a:hover {
  text-decoration:none;
}

a[alt]:hover::after {
  content: attr(alt);
  position: absolute;
  top: 100%;
  left: 0;
  color: #3b444b;
  font-size: 16px;
  background-color:rgba(255,200,175,0.7);
  padding:1px 6px 1px 6px;
  border-radius:4px;
  z-index:2;
  text-shadow:1px 1px 2px silver;
  box-shadow:0 0 1px #ff4500, 0 0 1px #ff4500 inset;
}

button {border: 1px solid rgba(21,153,87,0.1); background-color: rgba(21,153,87,0.1); border-radius: 5px; padding: 1px; box-shadow: 0 0 2px #848484; transition:0.5s;}
button:hover {border: 1px solid rgb(21,153,87); background-color: rgba(21,153,87,0.2); transition:0.5s;}

button::after {
    content: "";
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64px' height='69px' viewBox='0 0 64 64'%3E%3Crect x='0' y='0' fill='none'/%3E%3Cpath d='M53.9791489,9.1429005H50.010849c-0.0826988,0-0.1562004,0.0283995-0.2331009,0.0469999V5.0228 	C49.7777481,2.253,47.4731483,0,44.6398468,0h-34.422596C7.3839517,0,5.0793519,2.253,5.0793519,5.0228v46.8432999 c0,2.7697983,2.3045998,5.0228004,5.1378999,5.0228004h6.0367002v2.2678986C16.253952,61.8274002,18.4702511,64,21.1954517,64 h32.783699c2.7252007,0,4.9414978-2.1725998,4.9414978-4.8432007V13.9861002 C58.9206467,11.3155003,56.7043495,9.1429005,53.9791489,9.1429005z M7.1110516,51.8661003V5.0228 c0-1.6487999,1.3938999-2.9909999,3.1062002-2.9909999h34.422596c1.7123032,0,3.1062012,1.3422,3.1062012,2.9909999v46.8432999 c0,1.6487999-1.393898,2.9911003-3.1062012,2.9911003h-34.422596C8.5049515,54.8572006,7.1110516,53.5149002,7.1110516,51.8661003z M56.8888474,59.1567993c0,1.550602-1.3055,2.8115005-2.9096985,2.8115005h-32.783699 c-1.6042004,0-2.9097996-1.2608986-2.9097996-2.8115005v-2.2678986h26.3541946 c2.8333015,0,5.1379013-2.2530022,5.1379013-5.0228004V11.1275997c0.0769005,0.0186005,0.1504021,0.0469999,0.2331009,0.0469999 h3.9682999c1.6041985,0,2.9096985,1.2609005,2.9096985,2.8115005V59.1567993z' fill='rgb(21,153,87)'/%3E %3Cpath d='M38.6031494,13.2063999H16.253952c-0.5615005,0-1.0159006,0.4542999-1.0159006,1.0158005 c0,0.5615997,0.4544001,1.0158997,1.0159006,1.0158997h22.3491974c0.5615005,0,1.0158997-0.4542999,1.0158997-1.0158997 C39.6190491,13.6606998,39.16465,13.2063999,38.6031494,13.2063999z' fill='rgb(21,153,87)'/%3E %3Cpath d='M38.6031494,21.3334007H16.253952c-0.5615005,0-1.0159006,0.4542999-1.0159006,1.0157986 c0,0.5615005,0.4544001,1.0159016,1.0159006,1.0159016h22.3491974c0.5615005,0,1.0158997-0.454401,1.0158997-1.0159016 C39.6190491,21.7877007,39.16465,21.3334007,38.6031494,21.3334007z' fill='rgb(21,153,87)'/%3E %3Cpath d='M38.6031494,29.4603004H16.253952c-0.5615005,0-1.0159006,0.4543991-1.0159006,1.0158997 s0.4544001,1.0158997,1.0159006,1.0158997h22.3491974c0.5615005,0,1.0158997-0.4543991,1.0158997-1.0158997 S39.16465,29.4603004,38.6031494,29.4603004z' fill='rgb(21,153,87)'/%3E %3Cpath d='M28.4444485,37.5872993H16.253952c-0.5615005,0-1.0159006,0.4543991-1.0159006,1.0158997 s0.4544001,1.0158997,1.0159006,1.0158997h12.1904964c0.5615025,0,1.0158005-0.4543991,1.0158005-1.0158997 S29.0059509,37.5872993,28.4444485,37.5872993z' fill='rgb(21,153,87)'/%3E%3C/svg%3E");
    background-size: contain;
    width: 20px;
    height: 22px;
	float: right;
    margin: 3px;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-right:3px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(21,153,87);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px;
  position: absolute;
  z-index: 1;
  top: 7%;
  left: 125%;
  opacity: 0;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 35%;
  left: -3%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgb(21,153,87) transparent transparent;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.topo::after {
    content: "";
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3Crect x='0' y='0' width='200' rx='37' height='200' fill='%236182A6'/%3E%3Cpath d='M30,135 l70,-70 l70,70' fill='none' stroke-width='28' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: contain;
    width: 18px;
    height: 18px;
	float: right;
    margin: 8px 2px 0 6px;
}

.topop {
	text-align:right;
	line-height: 34px;
}

figcaption {
  top: 0px;
  background: white;
  color: rgb(21,153,87);
  padding: 5px 1px 5px 1px;
  font-size: 14px;
  position: relative;
  height:auto;
  box-shadow: 0px -2px 2px -1px rgba(21,153,87,0.2);
  margin-bottom: 5px;
  display:block;
}
summary {
  font-size: 18px;
  color: #159957;
  font-weight: bold;
  cursor: pointer;
  margin-bottom:8px;
  text-shadow: 1px 1px 1px rgb(227,243,235);
}
details {
  border: 1px solid #a2dec0;
  border-bottom: none;
  padding: 3px;
  border-radius: 4px;
  width:100%;
}

.combo {
	display:block;
	box-shadow: 0px 2px 2px -1px rgba(21,153,87,0.2);
	margin: 0 -3px 30px -3px;
	width:100.7%;
}

details p {color: rgb(21,153,87);}

.sub {
  border: none;
  padding: 3px;
  position:relative;
  width:100%;
}

.sub summary{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left:0px;
  text-shadow: 1px 1px 1px rgb(227,243,235);
}

h4 {
  font-size: 15px;
  text-shadow: 1px 1px 1px rgb(227,243,235);
  margin-top: 0;
}

h3 {
  font-size: 19px;
}

p {
  font-size: 14px;
}

ol li {
  font-size: 15px;
}

a {
  font-size: 15px;
  text-shadow: 1px 1px 2px rgb(227,243,235);
}

h5 {
  top: -20px;
  color: #155997;
  font-size: 15px;
}
hr {
  color: #a2dec0;
  width: 95%;
  margin: 5px;
}
h3::after {
  content: '';
  display: block;
  background: rgb(227,243,235);
  width: 40%;
  height: 1px;
}

* { margin: 0; padding: 0; }

.fundo {
   margin: 35px 0 110px 0;
   z-index: 0;
   visibility: visible;
   width: 100%;
}
.slider {
     display: block;
     height: auto;
     width: 100%;
     top: 25px;
     position: relative;
 }

 .slider li {
     list-style: none;
     position: absolute;
	 width: 100%;
 }
 
.slider input {
	position: fixed;
	opacity: 0;
}

.slider label {
     background-color: #DCDCDC;
     top: -30px;
     cursor: pointer;
     display: block;
     height: 27px;
     position: absolute;
     width: min(45px, calc(100%/var(--mw)));
     z-index: 10;
     border-radius: 5px;
     text-align:center;
     vertical-align: middle;
     font-size: 14px;
	 font-weight: bold;
	 box-shadow: 0 0 3px #848484;
	 padding-top: 2px;
	 transition: .5s;
 }

:root {--m: 14; --mw: 16.7;}

.slider li:nth-child(1) label {left: 0%;}

.slider li:nth-child(2) label {left: calc(100% / var(--m));}
 
.slider li:nth-child(3) label {left: calc(2*100% / var(--m));}
 
.slider li:nth-child(4) label {left: calc(3*100% / var(--m));}
 
.slider li:nth-child(5) label {left: calc(4*100% / var(--m));}

.slider li:nth-child(6) label {left: calc(5*100% / var(--m));}

.slider li:nth-child(7) label {left: calc(6*100% / var(--m));}

.slider li:nth-child(8) label {left: calc(7*100% / var(--m));}

.slider li:nth-child(9) label {left: calc(8*100% / var(--m));}

.slider li:nth-child(10) label {left: calc(9*100% / var(--m));}

.slider li:nth-child(11) label {left: calc(10*100% / var(--m));}

.slider li:nth-child(12) label {left: calc(11*100% / var(--m));}
 
.slider li:nth-child(13) label {left: calc(12*100% / var(--m));}
 
.slider li:nth-child(14) label {left: calc(13*100% / var(--m));}

.slider li:nth-child(15) label {left: calc(14*100% / var(--m));}

.slider li:nth-child(16) label {left: calc(15*100% / var(--m));}

.slider {
	counter-reset: contador;
}

.slider li label::before {
	content: counter(contador);
	counter-increment: contador;
}

 .slider img {
	 margin-top:10px;
     /*visibility: hidden;*/
     transition: opacity .5s;
	 opacity: 0;
	 overflow:hidden;
	 min-width:100%;
 }

 .slider li input:checked ~ img  {
	 opacity:1;
     transition: opacity .5s;
     /*visibility: visible;*/
     z-index: 10;
 }

 .slider figcaption {
     opacity: 0;
     /*visibility: hidden;*/
     transition: all 0.5s;
	 /*transform: translateY(-120px);*/
 }

 .slider li input:checked ~figcaption {
     opacity: 1;
	 /*transform: translateY(0);*/
     transition: all 1s ;
     /*visibility: visible;*/
     z-index: 10;
 }

 .slider li input:checked ~label {
     background-color: #159957;
     color: white;
	 transition: .5s;
 }

.slider li input:checked ~ .embed-container iframe {
	 opacity: 1;
	 visibility: visible;
     z-index: 10;
	 transition: all 0.5s;
}

.embed-container {
  position: relative;
  padding-bottom: 65%;
  height: 0;
  overflow: hidden;
  max-width: 100%; 
  box-shadow: 0px 5px 5px -6px grey;
  margin-bottom:7px;
  transition: all 0.5s;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 98%;
}

.sub .embed-container iframe {visibility: hidden; opacity:0;}
.sub .embed-container {box-shadow:none;}
iframe {
  border:none;
  margin: 0 auto;
  display: block;
  border-radius:7px;
}
