.qr {max-width: 25%; min-width: 150px;}
.foto {border-bottom:1px #a2dec0 solid; transition: all .7s;}

.foto:hover {transition: all .7s; box-shadow: 0 0 5px #a2dec0 inset; border-radius:8px;}

a.fotoA {min-width:30%; max-width:40%; float:right; margin: 0 0 10px 10px; text-decoration:none;}

a.fotoA:after {content:attr(title); display:block; color: #159957; text-align:center; margin-top:-5px;}

.titulo {background:#58d68d; color:white; padding: 2px 5px 4px 5px; border-radius:5px;}

table {width:100%;}

details a img:hover {opacity:0.9; transition: all .5s; box-shadow: 0 0 10px rgb(150,183,170) inset; border-radius:8px;}

details a img {transition: all .5s; margin-top: 8px;}

details {
  border: 1px solid #a2dec0;
  border-bottom: none;
  padding: 5px;
  border-radius: 4px;
  width:100%;
}

details[open] summary ~ * {
  animation: open .5s ease-in-out;
}

summary {
  font-size: 22px;
  color: #159957;
  font-weight: bold;
  cursor: pointer;
  margin-bottom:8px;
  text-shadow: 1px 1px 1px rgb(227,243,235);
}

h4 {
  text-shadow: 1px 1px 1px rgb(227,243,235);
  margin-top: 0;
  padding-top: 0;
}
 
.embed-container {
  position: relative;
  padding-bottom: 70%;
  overflow: hidden;
  width: 100%; 
  margin-bottom: 7px;
  transition: all 0.5s;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 98%;
}

iframe {
  border: 1px solid skyblue;
  margin: 0 auto;
  display: block;
  border-radius:7px;
}

.topo::after {
    content: "";
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3Crect x='0' y='0' width='200' rx='37' height='200' fill='%236182A6'/%3E%3Cpath d='M30,135 l70,-70 l70,70' fill='none' stroke-width='28' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: contain;
    width: 18px;
    height: 18px;
	float: right;
    margin: 9px 2px 0 6px;
}

.topop {
	text-align:right;
	line-height: 34px;
}
